@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

#container {
  
}

#display {
  font-size: 35px;
  color: #9398e9;
  background-color: #e9e493;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 3px 30px 0px 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpaperset.com/w/full/e/8/f/50966.jpg");
  background-size: 100%;
}

#drum-machine {
  margin-top: 50%;
  font-family: 'Teko', sans-serif;
  width: 300px;
  top: 50%;
}

#pads {
  height: 300px;
  background-color: #9dbeda;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0px 0px 3px 30px;
}

.drum-buttons {
  font-size: 30px;
  color: #e9e493;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 10px;
  background-color: #09131C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  cursor: pointer;
  transition-duration: 0.1s;
}

.drum-buttons:hover {
  font-size: 26px;
  opacity: 75%;
}


.credits {
  font-size: 20px;
  text-decoration: none;
  height: 50px;
  font-family: 'Cabin', -sans-serif;
}

.chivo {
  opacity: 0.5;
  color: #e9e493;
  position: fixed;
  bottom: 25px;
  right: 0px;
  text-decoration: none;
  padding: 25px;
  bottom: 20px;
  background-image: url("https://i.imgur.com/bL1ktq0.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  transition-duration: 0.1s;
}

.chivo:hover {
  background-color: #e9e493;
  opacity: 100%;
  color: #182C61;
  background-size: 85%;
}